<nav class="navbar fixed-top navbar-expand-lg navbar-light shadow" style="background-color: #EA4936;">
  <a class="navbar-brand" routerLink="home" style="color: aliceblue">Diary</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" (click)="onClick()">Home</a>
      </li>
      <li *ngIf="!reg$" class="nav-item">
        <a class="nav-link" [routerLink]='["/login"]'>Log in</a>
      </li>
      <li *ngIf="!reg$" class="nav-item">
        <a class="nav-link" [routerLink]='["register"]'>Sign up</a>
      </li>
      <li *ngIf="reg$" class="nav-item" style="float: right">
        <a (click)="logOut()" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>


