<div class="from shadow-lg rounded mainDiv">
  <div class="rounded elementsDiv" align="center">
    <h3 style="position: relative; top: 20%">Someone's Diary</h3>

    <div class="container">
      <div class="row border-top" style="height:80px">
        <div class="col border-right">
          <a href="/diary-edit">New entry</a>
        </div>
        <div class="col order-12 border-left">
          Lock diary
        </div>
        <div class="col order-1" align="center">
          <a href="/view-all">View entries</a>
        </div>
      </div>
    </div>
  </div>
</div>
